input {
    height: 50px;
    font-size: 14px;
    padding: 20px;
    border: solid 2px $soft-white;
    color: $grey;
    width: 100%;
}

input:focus {
    outline: none;
    border: solid 3px $purple;
}