input, select {
    height: 50px;
    font-size: 14px;
    padding: 20px;
    border: solid 2px $soft-white;
    color: $grey;
    width: 100%;
    background-color: $white;
    border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: solid 3px $purple;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    background-color: $white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
}