.bug-list-container {
    margin-top: 40px;
    display: table;
    background-color: white;
}

.cont {
    width: 100%;
    display: table-cell;
}

.bug-list-element {
    background-size:'cover';
    background-repeat: 'no-repeat';
    background-position: 'center center';
    margin-bottom: 35px;
    background-color: #6574DB;
    color: white;
    box-shadow: 1px 1px 3px 0.1px rgba(156, 156, 156, 0.63);
    cursor: pointer;
}

.bug-list-element :hover {
    animation-name: bug-list-element-hover;
    animation-duration: 1s;
}

.bug-img {
    margin-bottom: 10px;
}

.bug-info {
    padding: 10px;
    text-align: left; 
}

.bug-info .row {
    padding-bottom: 7px;
}

.bug-description {
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.bug-label {
}

@keyframes bug-list-element-hover {
    from {
        background-color: green !important;
    }
    to {
        background-color: red !important;
    }
}