@import "/scss/reset";
@import "/scss/variables";
@import "/scss/mixins";
@import "/scss/layout";
@import "/scss/common";
@import "/scss/components/input";

//Variables
$white: white;
$soft-white: #F8F8F8;
$soft-grey: #D9DBE6;
$black: black;
$purple: #6574DB;

// Layout

body {
}

.loginFormComponent {
    margin-top: 30px;
}

@media (max-width: 700px) {
    .loginFormComponent {
        margin-top: 0px;
    }
}

.container {
    background-color: #F8F8F8 !important;
}

.left-container {
    background-color: #6574DB;
    padding-top: 75px;
    color: white;
}

input {
    height: 50px;
    font-size: 14px;
    padding: 20px;
    border: solid 2px #D9DBE6;
    color: #D9DBE6;
    width: 100%;
}

input:focus {
    outline: none;
    border: solid 3px #6574DB;
}

button {
    height: 50px;
    background-color: #6574DB;
    border: solid 2px white;
    color: white;
    width: 100%;
}

// Common

.text-center {
    text-align: center;
}

.login-form {
    padding: 20px 0px;
}