@import "/scss/reset";
@import "/scss/variables";
@import "/scss/mixins";
@import "/scss/layout";
@import "/scss/common";
@import "/scss/components/input";
@import "/scss/components/button";

.loginFormComponent {
    margin-top: 30px;
}

@media (max-width: 700px) {
    .loginFormComponent {
        margin-top: 0px;
    }
}

.login-link {
    display: block;
    text-align: right !important;
    padding-top: 5px !important;
    padding-right: 5px !important;
}

.home-container {
    padding-top: 30px;
    background-color: $white !important;
}

.left-container {
    background-color: $purple;
    padding-top: 75px;
    color: $white;
}

.login-form {
    padding: 20px 0px;
}